# MinIO / S3 
MINIO_ROOT_USER=aether
MINIO_ROOT_PASSWORD=aether_password_change_me

AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}

S3_ENDPOINT=http://minio:9000
S3_BUCKET=aether-lakehouse
S3_REGION=eu-west-2

# Ports (host ports)
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

REDPANDA_KAFKA_HOST_PORT=19092
REDPANDA_ADMIN_HOST_PORT=19644
REDPANDA_CONSOLE_HOST_PORT=18080

SPARK_MASTER_UI_HOST_PORT=18081
SPARK_MASTER_RPC_HOST_PORT=17077
SPARK_WORKER_UI_HOST_PORT=18082

TRINO_HOST_PORT=18089

POSTGRES_HOST_PORT=15432
HIVE_METASTORE_HOST_PORT=19083

PROMETHEUS_HOST_PORT=19090
GRAFANA_HOST_PORT=13000